{% extends "base.html.twig" %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block title %}Blog{% endblock %}

{% block body %}<h1>Blog</h1>{% endblock %}

{% block footer %}<h5>Footer</h5>{% endblock %}