{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-lg-4 box-form">
        <h2>Creating new user</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        Roles
        <select name="roles">
            <option value="ROLE_USER">User</option>
            <option value="ROLE_ADMIN">Admin</option>
        </select>
        <br><br>
        Active
        <select name="isActive">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        <br><br>
        <input type="submit" class="btn btn-success" value="Update User">
        {{ form_end(form) }}
    </div>
{% endblock %}
